@model Hospital.Models.MakeAppointmentViewModel

<h2>Randevu Al</h2>
<br />

@if (ViewData["result"] != null)
{
    <div class="alert alert-success">@ViewData["result"]</div>
}

<br />
<br />
<br />

<form asp-controller="Appointment" asp-action="MakeAppointment" method="post" id="appointmentForm">
    <div asp-validation-summary="ModelOnly" class="text-danger small"></div>

    <div class="form-group">
        <label asp-for="Department"></label>
        <select asp-for="Department" asp-items="ViewBag.DepartmentList" class="form-control" id="departmentDropdown"></select>
        <span asp-validation-for="Department" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DoctorId"></label>
        <select asp-for="DoctorId" class="form-control" id="doctorDropdown"></select>
        <span asp-validation-for="DoctorId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="AppointmentDate"></label>
        <input asp-for="AppointmentDate" type="date" class="form-control" />
        <span asp-validation-for="AppointmentDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="AppointmentTime"></label>
        <input asp-for="AppointmentTime" type="time" class="form-control" />
        <span asp-validation-for="AppointmentTime" class="text-danger"></span>
    </div>

    <br />
    <br />
    <br />

    <button type="submit" class="btn btn-primary">Randevu Al</button>
</form>

@section Scripts {
    <script>
        // Departman değiştiğinde doktorları güncelle
        $('#departmentDropdown').change(function () {
            var departmentId = $(this).val();
            $.ajax({
                url: '@Url.Action("GetDoctorsByDepartment", "Appointment")',
                type: 'POST',
                data: { departmentId: departmentId },
                success: function (data) {
                    // Doktorları güncelle
                    var doctorDropdown = $('#doctorDropdown');
                    doctorDropdown.empty();
                    $.each(data, function (index, item) {
                        doctorDropdown.append($('<option>', {
                            value: item.doctorId,
                            text: item.name
                        }));
                    });
                }
            });
        });
    </script>
}
