@model Hospital.Models.AddDoctorViewModel

<h2>Add Doctor</h2>

<form method="post" asp-action="AddDoctor">
    <div class="form-group">
        <label for="Name">İsim</label>
        <input type="text" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Surname">Soyad</label>
        <input type="text" asp-for="Surname" class="form-control" />
        <span asp-validation-for="Surname" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Username">Kullanıcı Adı</label>
        <input type="text" asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Password">Şifre</label>
        <input type="password" asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="RePassword">Şifre</label>
        <input type="password" asp-for="RePassword" class="form-control" />
        <span asp-validation-for="RePassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="DeparmentId">Department</label>
        <select asp-for="DeparmentId" asp-items="@(new SelectList(ViewBag.Departments, "DeparmentId", "Name"))" class="form-control">
            <option value="">Departman Seçiniz</option>
        </select>
        <span asp-validation-for="DeparmentId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="CalismaGunu">Çalışma Günü</label>
        <select asp-for="CalismaGunu" class="form-control" multiple>
            <option value="Monday">Pazartesi</option>
            <option value="Tuesday">Salı</option>
            <option value="Wednesday">Çarşamba</option>
            <option value="Thursday">Perşembe</option>
            <option value="Friday">Cuma</option>
            <option value="Saturday">Cumartesi</option>
            <option value="Sunday">Pazar</option>
        </select>
        <span asp-validation-for="CalismaGunu" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="BaslangicSaati">Başlangç Saati</label>
        <input type="time" asp-for="BaslangicSaati" class="form-control" />
        <span asp-validation-for="BaslangicSaati" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="BitisSaati">Bitiş Saati</label>
        <input type="time" asp-for="BitisSaati" class="form-control" />
        <span asp-validation-for="BitisSaati" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Add Doctor</button>
</form>
