<!-- Views/Admin/AddDoctor.cshtml -->



<form method="post" asp-action="AddDoctor">
    <div class="form-group">
        <label for="name">Doktor Adı</label>
        <input type="text" name="name" class="form-control" />
    </div>

    <div class="form-group">
        <label for="surname">Doktor Soyadı</label>
        <input type="text" name="surname" class="form-control" />
    </div>

   
    
    <div class="form-group">
        <label for="departmentName">Departman Adı</label>
        <input type="text" name="departmentName" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Doktor Ekle</button>
</form>
